<form class="vstack gap-4">
    <div class="form-group">
        <label for="summary" class="form-label">Summary</label>
        <p class="form-text">Describe the events in this passage.</p>
        <textarea
            id="summary"
            class="form-control"
            [formControl]="form.controls.summary"
        ></textarea>
    </div>

    <fieldset>
        <legend>Designators</legend>
        <p class="form-text">
            What (Latin) terminology is used to describe the actions in the passage?
            List key nouns and verbs in nominative or infinitive form (e.g. epistula,
            missus, dirigere).
        </p>
        <lc-designators-control [formControl]="form.controls.designators" />
    </fieldset>

    <fieldset *ngIf="episodeCategories$ | async as episodeCategories">
        <legend>Labels</legend>
        <p class="form-text">
            Pick one or more labels that describe this episode.
        </p>

        <lc-label-select [labels]="episodeCategories"
            [formControl]="form.controls.categories" />
    </fieldset>
</form>
