<form>
    <div class="form-group">
        <label for="summary" class="form-label">Summary</label>
        <p class="form-text">Describe the events in this passage.</p>
        <textarea
            id="summary"
            class="form-control"
            [formControl]="form.controls.summary"
        ></textarea>
    </div>

    <div class="form-group">
        <label for="labels" class="form-label">Labels</label>
        <p class="form-text">
            Pick one or more labels that describe this episode.
        </p>
        <p>Coming soon!</p>
    </div>
</form>
