<lc-breadcrumb [breadcrumbs]="(breadcrumbs$ | async) ?? []" />

<h1 class="mb-4">
    <lc-icon [icon]="dataIcons.episode" />
    <ng-container *ngIf="episode$ | async as episode; else newEpisodeTitle">
        <span class="mx-2">{{ episode.name }}</span>
        <span class="text-body-secondary"
            >({{ episode.source.medievalAuthor }},
            <i>{{ episode.source.medievalTitle }}</i
            >)
        </span>
    </ng-container>
    <ng-template #newEpisodeTitle>
        <span>New episode</span>
    </ng-template>
</h1>

<lc-episode-identification-form />
<lc-episode-source-text-form />
<lc-episode-contents-form />
<lc-episode-agents-form />
<lc-episode-locations-form />
<lc-episode-objects-form />
