<lc-breadcrumb [breadcrumbs]="(breadcrumbs$ | async) ?? []" />

<h1 class="mb-4">
    <lc-icon [icon]="dataIcons.episode" />
    <ng-container *ngIf="episode$ | async as episode; else newEpisodeTitle">
        <span class="mx-2">{{ episode.name }}</span>
        <span class="text-body-secondary"
            >({{ episode.source.medievalAuthor }},
            <i>{{ episode.source.medievalTitle }}</i
            >)
        </span>
    </ng-container>
    <ng-template #newEpisodeTitle>
        <span>New episode</span>
    </ng-template>
</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div ngbAccordion [closeOthers]="true">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Identification</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <label for="episode-name">Identification</label>
                    <p class="form-text">
                        This is a name to identify the episode in the overview
                        of the source. For example: "journey to Rome", "Clovis'
                        response", "Radegund asks Germanus for help".
                    </p>
                    <input
                        id="episode-name"
                        type="text"
                        class="form-control"
                        [formControl]="
                            form.controls.identification.controls.name
                        "
                    />
                    <p class="invalid-feedback">This field is required.</p>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Source text</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <fieldset>
                        <legend>Designators</legend>
                        <p class="form-text">
                            Expressions (in Latin) that refer to this event
                        </p>

                        <ul class="form-group">
                            <li
                                class="input-group"
                                *ngFor="
                                    let designator of form.controls.sourceText
                                        .controls.designators.controls;
                                    let desIndex = index
                                "
                            >
                                <input
                                    [id]="'designator-' + desIndex"
                                    type="text"
                                    class="form-control"
                                />
                                <div class="input-group-append">
                                    <button
                                        type="button"
                                        class="btn btn-danger"
                                        (click)="removeDesignator(desIndex)"
                                    >
                                        <lc-icon [icon]="actionIcons.delete" />
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="addDesignator()"
                        >
                            Add designator
                        </button>
                    </fieldset>
                    <fieldset>
                        <legend>Location</legend>
                        <p class="form-text">
                            Describe the location of this episode in the source
                            text.
                        </p>
                        <div class="row">
                            <div class="form-group col">
                                <label for="book">Book</label>
                                <input
                                    id="book"
                                    type="text"
                                    class="form-control"
                                    [formControl]="
                                        form.controls.sourceText.controls.book
                                    "
                                />
                            </div>
                            <div class="form-group col">
                                <label for="chapter">Chapter</label>
                                <input
                                    id="chapter"
                                    type="text"
                                    class="form-control"
                                    [formControl]="
                                        form.controls.sourceText.controls
                                            .chapter
                                    "
                                />
                            </div>
                            <div class="form-group col">
                                <label for="page">Page</label>
                                <input
                                    id="page"
                                    type="text"
                                    class="form-control"
                                    [formControl]="
                                        form.controls.sourceText.controls.page
                                    "
                                />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Contents</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <label for="summary">Summary</label>
                    <p class="form-text">Describe the events in the passage.</p>
                    <textarea
                        id="summary"
                        type="text"
                        class="form-control"
                        [formControl]="form.controls.contents.controls.summary"
                    ></textarea>

                    <label for="labels">Labels</label>
                    <p>Assign any labels that apply to this episode.</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>Delivering</span>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    <lc-icon [icon]="actionIcons.edit" />
                                    <span>Edit</span>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <lc-icon [icon]="actionIcons.delete" />
                                    <span>Remove</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div ngbDropdown>
                        <button
                            type="button"
                            class="btn btn-primary"
                            ngbDropdownToggle
                        >
                            Add a label
                        </button>
                        <ul ngbDropdownMenu>
                            <li *ngFor="let label of labels" ngbDropdownItem>
                                <button type="button">{{ label.name }}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button type="button" ngbAccordionButton>Agents</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <p>Agents go here!</p>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button type="button" ngbAccordionButton>Locations</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <p>Locations go here!</p>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button type="button" ngbAccordionButton>Objects</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <p>Objects go here!</p>
                </div>
            </div>
        </div>
    </div>
</form>
