<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<div class="d-flex flex-column bg-light-subtle">
    <div class="search-section d-flex align-items-center justify-content-center bg-white shadow-sm p-4">
        <div class="container">
            <form
                class="search-form my-0 mx-auto"
                (submit)="$event.preventDefault(); formSubmit$.next()"
            >
                <label class="form-label">Keywords</label>
                <input
                    type="search"
                    class="form-control p-2"
                    name="search"
                    [formControl]="form.controls.searchTerm"
                    placeholder="Search for keywords..."
                    aria-label="Search"
                />
                <lc-browse-label-select
                    [formControl]="form.controls.labelIds"
                />
            </form>
        </div>
    </div>

    <div class="py-4">
        <div class="container-fluid">
            <lc-browse-tabs [tabs]="searchTabs" [data]="searchData$ | async" />
        </div>
    </div>
</div>
