<div class="home-background pt-5">
    <header>
        <div class="container vh-100">
            <div class="row d-flex justify-content-end h-75 align-items-end">
                <div class="col-lg-6 card">
                    <div class="card-body py-5 px-3 text-center">
                        <h1 class="display-4 text-primary mb-3">
                            <span class="illuminated-initial">L</span>ettercraft
                        </h1>
                        <p class="lead">
                            'Lettercraft and Epistolary Performance in Early
                            Medieval Europe, 476-751 CE' is an NWO-Vidi funded
                            project based in the Department of Languages,
                            Literature, and Culture at Utrecht University.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="banner bg-primary p-5 mb-5 lh-lg border-accent border-2 border-top border-bottom">
        <h2 class="text-center text-accent mb-4">Welcome!</h2>

        <div class="banner-content">
            <p>
                <b>
                    ‘Lettercraft and Epistolary Performance in Early Medieval
                    Europe, 476-751 CE’
                </b>
                is an NWO-Vidi funded project based in the Department of
                Languages, Literature, and Culture at Utrecht University. It
                runs from January 2023 to December 2027.
            </p>
            <p>
                The Lettercraft project investigates how the early medieval
                societies of the Merovingian Kingdoms used the letter and asks
                who these users were. The project team approaches the letter as
                a performative medium that was read out aloud, translated and
                circulated in public. We explore how the letter established
                lines of communication between diverse social groups and across
                political boundaries and language-barriers. This made it an
                essential tool for conflict-resolution and consensus-building in
                a world with rudimentary infrastructure and limited public
                order.
            </p>
            <p>
                Our database enables us to record and explore who these users
                were and what they did. We record the presence of a broad range
                of actors, from anonymous secretaries taking dictation to
                invalid seeking healing by touching the letter of a saint; and a
                broad range of actions, including sending, gift-giving, and
                reading aloud. From this, we develop new understanding of how
                the letter was used in early medieval Europe.
            </p>
            <p>
                Users of the database can explore it thematically, following
                particular types of users or uses of interest, or can
                investigate the use of letters in particular Merovingian texts.
            </p>
            <p>
                Our case studies allow users to explore the use of letters in a
                selection of texts from the Merovingian kingdoms.
            </p>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-lg-10">
                    <div class="card-body py-5 px-4">
                        <h2 class="text-burgundy text-center mb-4">
                            Explore the Database
                        </h2>
                        <div class="row g-3">
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon icon="book" class="me-2" />
                                    Principles
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon icon="search" class="me-2" />
                                    Browse episodes
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon
                                        icon="file-text"
                                        class="me-2"
                                    />Browse sources
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon
                                        icon="alphabet"
                                        class="me-2"
                                    />Terminology
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon
                                        icon="journal-text"
                                        class="me-2"
                                    />Lettercraft stories
                                </a>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon icon="people" class="me-2" />Team
                                </a>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-md-6 col-lg-4">
                                <a class="btn btn-primary w-100 py-3" href="#">
                                    <lc-icon
                                        icon="envelope"
                                        class="me-2"
                                    />Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
