<ng-container *ngIf="data$ | async as data; else loading">
    <a class="float-end btn btn-light"
        [routerLink]="['/data/agents', data.agentDescription?.id]">
        <lc-icon [icon]="actionIcons.view" />
        View on public interface
    </a>

    <lc-breadcrumb [breadcrumbs]="getBreadcrumbs(data)"></lc-breadcrumb>

    <ng-container *ngIf="data.agentDescription as agentDescription">
        <h1 class="mb-4">
            <lc-icon [icon]="agentIcon(agentDescription)" />
            {{agentDescription.name}}
            <span class="text-secondary">
            ({{agentDescription.source.name}})
            </span>
        </h1>

        <p class="lead mb-4">
            <span *ngIf="agentDescription.description; else noDescription">
                {{agentDescription.description}}
            </span>
            <ng-template #noDescription>
                <i>(No description)</i>
            </ng-template>
        </p>

        <lc-form-status [status$]="status$" />

        <div class="hstack">
            <lc-delete-agent class="ms-auto" [navigateOnDelete]="sourceLink(data)" />
        </div>

        <h2>Identification</h2>
        <lc-agent-identification-form />

        <h2>Description in source text</h2>
        <lc-agent-description-form />

        <h2>Episodes</h2>

        <lc-agent-episodes-form />

        <h2>Historical context</h2>

        <lc-agent-historical-person-form />
    </ng-container>
</ng-container>

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
