<ng-container *ngIf="data$ | async as data; else loading">
    <lc-breadcrumb [breadcrumbs]="getBreadcrumbs(data)"></lc-breadcrumb>

    <ng-container *ngIf="data.agentDescription as agentDescription; else noAgent">
        <h1 class="mb-4">
            <lc-icon [icon]="dataIcons.person" />
            {{agentDescription.name}}
            <span class="text-secondary">
                ({{agentDescription.source.name}})
            </span>
        </h1>

        <p class="lead mb-4" *ngIf="agentDescription.description">
            {{agentDescription.description}}
        </p>

        <h2>Identification</h2>
        <lc-agent-identification-form *ngIf="id$ | async as id" [id]="id" />

        <h2>Description in source text</h2>
        <lc-agent-description-form *ngIf="id$ | async as id" [id]="id" />

        <h2>Episodes</h2>

        <p><i>Coming soon!</i></p>

        <h2>Historical context</h2>

        <p><i>Coming soon!</i></p>
    </ng-container>


    <ng-template #noAgent>
        <div class="alert alert-danger" role="alert">
            Cannot find agent with ID {{id$ | async}}.
        </div>
    </ng-template>

</ng-container>

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
