<lc-breadcrumb [breadcrumbs]="breadcrumbs()" />

<h1 class="mb-4">
    <lc-icon [icon]="dataIcons.source" />
    <span *ngIf="source$ | async as source" class="ms-2">
        {{ source.name }}
    </span>
</h1>

<h2 class="mb-4">Episodes</h2>

<p>
    Identify <i>episodes</i> in the narrative that relate to epistolary
    communication. For each episode, fill in what happens and what agents,
    objects, and locations are involved.
</p>

<div class="mb-4" *ngIf="source$ | async as source">
    <lc-episode-preview
        *ngFor="
            let episode of source.episodes;
            trackBy: identify;
            first as isFirst;
            last as isLast
        "
        [episode]="episode"
        [isFirst]="isFirst"
        [isLast]="isLast"
        (changeEpisodeOrder)="
            reorderEpisodes(source.episodes, episode.id, $event)
        "
    />
</div>
<div class="btn-group mb-4" *ngIf="source$ | async as source">
    <button
        class="btn btn-primary"
        (click)="openNewEpisodeModal(newEpisodeModal)"
    >
        <lc-icon [icon]="actionIcons.create" />
        Add a new episode
    </button>
</div>

<ng-template #newEpisodeModal>
    <lc-base-modal (dismiss)="closeModal()" *ngIf="source$ | async as source">
        <ng-container modal-header>
            <h4 ngbAutofocus>Create new episode</h4>
        </ng-container>
        <ng-container modal-content>
            <lc-new-episode-form
                #newEpisodeForm
                [sourceId]="source.id"
                (mutationStarted)="mutationInProgress = true"
                (episodeCreated)="closeAndNavigate($event)"
            ></lc-new-episode-form>
        </ng-container>
        <ng-container modal-footer>
            <button
                type="button"
                class="btn btn-primary"
                (click)="newEpisodeForm.submit()"
            >
                Create
                <div
                    *ngIf="mutationInProgress"
                    class="spinner-border spinner-border-sm"
                >
                    <span class="visually-hidden">Creating new episode...</span>
                </div>
            </button>
            <button
                type="button"
                class="btn btn-secondary"
                (click)="closeModal()"
            >
                Cancel
            </button>
        </ng-container>
    </lc-base-modal>
</ng-template>
