<h2>Forgotten your password?</h2>

<p>Enter your email address in the form below. You will receive a link to a page where you can reset your password.</p>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label for="email" class="form-label">Email address</label>
        <input id="email" type="email" class="form-control" [class.is-invalid]="form.controls.email.touched && form.controls.email.invalid" [formControl]="form.controls.email" />
        <p *ngFor="let error of emailErrors$ | async" class="invalid-feedback">{{ error }}</p>
    </div>
    <button type="submit" class="btn btn-primary my-3">
        Submit
        <div *ngIf="loading$ | async" class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Requesting password reset link...</span>
        </div>
    </button>
</form>

<div *ngIf="success$ | async" class="alert alert-success" role="alert">
    <h2 class="h6 alert-heading">Password reset request received</h2>
    <p>Your request to reset your password has been received successfully.</p>
    <p>If your email address is known to us, an email has been sent containing a link to a page where you may reset your password.</p>
</div>
