<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<h1 class="mb-4">Epistolary episodes</h1>

<p class="mb-4">
    The list below shows the epistolary episodes that have been identified
    across all source texts. Click on an episode to view more information about
    it.
</p>

<ng-container *ngIf="collectionData$ | async as data">
    <lc-search-bar
        [searchControl]="searchControl"
        [loading$]="loading$"
        labelText="Search episodes by name, description or summary."
        searchText="Searching episodes"
    />

    <lc-paginator [pageResult]="pageResult" />

    <ng-container *ngIf="pageResult.pageData$ | async as pageData">
        <lc-episode-preview
            *ngFor="let episode of pageData.episodes"
            [episode]="episode"
        />
    </ng-container>

    <div *ngIf="data.episodes.length === 0" class="mt-3 text-center">
        <p class="text-muted">
            No episodes found matching "{{ searchControl.value }}."
        </p>
    </div>

    <lc-paginator [pageResult]="pageResult" />

</ng-container>
