<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry/source', 1]">Fortunatus, Life of Radegund</a></li>
        <li class="breadcrumb-item active">
            Delivering of the letter from Radegund
        </li>
    </ol>
</nav>

<h1 class="mb-4">
    Delivering of the letter from Radegund
    <small class="text-body-secondary">(<i>Fortunatus, Life of Radegund</i>)</small>
</h1>

<p class="lead">
    An unknown messenger delivers a letter to the nuns of Poitiers.
</p>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Identification</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-3">
                        <label class="form-label">
                            Name
                        </label>
                        <input type="text" class="form-control" value="Delivering of the letter from Radegund">

                        <p>
                            <small class="text-body-secondary">
                                This is a name to identify the event in the overview of the source.
                                For example: "journey to Rome", "Clovis' response", "Radegund asks Germanus for help".
                            </small>
                        </p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Description
                        </label>
                        <input type="text" class="form-control" value="An unknown messenger delivers a letter to the nuns of Poitiers.">

                        <p>
                            <small class="text-body-secondary">
                                Add a short description to help identify this event
                            </small>
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Reference in source text</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-3">
                        <label class="form-label">
                            Location
                        </label>
                        <input type="text" class="form-control" value="chapter 3, verse 5">
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem >
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Description</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-5">
                        <h3>Action</h3>
                        <div class="mb-4">
                            <label class="form-label">Summary</label>
                            <textarea class="form-control"></textarea>
                            <p class="text-body-secondary"><small>
                                Describe the events in this passage.
                            </small></p>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Action labels</label>

                            <ul class="list-group mb-3">
                                <li class="list-group-item hstack">
                                    <span>
                                        delivering
                                    </span>
                                    <div class="ms-auto btn-group">
                                        <button class="btn btn-primary">
                                            <fa-icon [icon]="icons.edit"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger">
                                            <fa-icon [icon]="icons.remove"></fa-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>

                            <div ngbDropdown>
                                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                    Add a label
                                </button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let label of labels">
                                        {{label}}
                                    </button>
                                </div>
                            </div>

                            <p class="text-body-secondary"><small>
                                You can assign labels to categorise the kind of actions described here.
                            </small></p>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3>Agents</h3>
                        <p class="form-label">Which agents are involved?</p>
                        <div class="mb-4">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="hstack">
                                        <span>
                                            Unknown messenger
                                        </span>
                                        <div class="ms-auto btn-group">
                                            <button class="btn btn-primary">
                                                <fa-icon [icon]="icons.edit"></fa-icon>
                                            </button>
                                            <button class="btn btn-danger">
                                                <fa-icon [icon]="icons.remove"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            How is this information presented in the text?
                                        </label>
                                        <select class="form-select">
                                            <option>Implied</option>
                                            <option selected>Mentioned</option>
                                            <option>Described</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Additional notes
                                        </label>
                                        <textarea class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="hstack">
                                        <span>
                                            The nuns of Poitiers
                                        </span>
                                        <div class="ms-auto btn-group">
                                            <a class="btn btn-primary"
                                                [routerLink]="['../..', 'agent', 3]">
                                                <fa-icon [icon]="icons.edit"></fa-icon>
                                            </a>
                                            <button class="btn btn-danger">
                                                <fa-icon [icon]="icons.remove"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            How is this information presented in the text?
                                        </label>
                                        <select class="form-select">
                                            <option>Implied</option>
                                            <option selected>Mentioned</option>
                                            <option>Described</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Additional notes
                                        </label>
                                        <textarea class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div ngbDropdown>
                                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                    Add an agent
                                </button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem>
                                        Radegund
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3>Places</h3>
                        <div class="mb-4">
                            <p class="form-label">Which places are involved?</p>
                            <div class="mb-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="hstack">
                                            <span>
                                                The Abbey of the Holy Cross
                                            </span>
                                            <div class="ms-auto btn-group">
                                                <a class="btn btn-primary"
                                                [routerLink]="['../..', 'space', 1]">
                                                    <fa-icon [icon]="icons.edit"></fa-icon>
                                                </a>
                                                <button class="btn btn-danger">
                                                    <fa-icon [icon]="icons.remove"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                How is this information presented in the text?
                                            </label>
                                            <select class="form-select">
                                                <option>Implied</option>
                                                <option selected>Mentioned</option>
                                                <option>Described</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">
                                                Additional notes
                                            </label>
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div ngbDropdown>
                                    <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                        Add a location
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem>
                                            A cave
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3>Objects</h3>
                        <div class="mb-4">
                            <p class="form-label">Which objects are involved?</p>
                            <div class="mb-4">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <div class="hstack">
                                            <span>
                                                Letter from Radegund
                                            </span>
                                            <div class="ms-auto btn-group">
                                                <a class="btn btn-primary"
                                                [routerLink]="['../..', 'object', 1]">
                                                <fa-icon [icon]="icons.edit"></fa-icon>
                                            </a>
                                                <button class="btn btn-danger">
                                                    <fa-icon [icon]="icons.remove"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                How is this information presented in the text?
                                            </label>
                                            <select class="form-select">
                                                <option>Implied</option>
                                                <option selected>Mentioned</option>
                                                <option>Described</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">
                                                Additional notes
                                            </label>
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div ngbDropdown>
                                    <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                        Add an object
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem>
                                            Hairshirt
                                        </button>
                                        <button ngbDropdownItem>
                                            Letter from Heaven
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
