<div class="row">
    <div class="tree">
        <ul>
            <li>
                <a>Poitiers</a>
                <ul>
                    <li>
                        <a>Abbey of the Holy Cross</a>
                        <ul>
                            <li>
                                <a>Radegund's cell</a>
                                <ul>
                                    <li>
                                        <a>Radegund's desk</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Scriptorium</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>City wall</a>
                    </li>
                    <li>
                        <a>Castle of Poitiers</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
