<div class="row">
    <figure class="figure">
        <div class="tree row p-3">
            <ul>
                <li>
                    <span class="btn btn-primary">Poitiers</span>
                    <ul>
                        <li>
                            <span class="btn btn-outline-secondary">Abbey of the Holy Cross</span>
                            <ul class="subtree">
                                <li>
                                    <span class="btn btn-outline-secondary">Radegund's cell</span>
                                    <ul>
                                        <li>
                                            <span class="btn btn-outline-secondary">Radegund's desk</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="btn btn-outline-secondary">Scriptorium</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="btn btn-outline-secondary">City wall</span>
                        </li>
                        <li>
                            <span class="btn btn-outline-secondary">Castle of Poitiers</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <figcaption class="figure-caption">Structures connected to Poitiers</figcaption>
    </figure>
</div>
