@if (control.value.length > 0) {
    <div class="d-flex align-items-center">
        <p class="me-2">Currently selected:</p>
        <ul class="ps-0">
            @for (item of selectedItems(); track item.value) {
                <li class="badge rounded-pill text-bg-primary me-2 small fw-normal d-inline-flex align-items-center">
                    @if (item.icon) {
                        <fa-icon [icon]="item.icon" aria-hidden="true" />
                    }
                    <span class="ms-1">{{ item.label }}</span>
                    <button
                        class="btn btn-sm btn-primary py-0 px-1 ms-1"
                        type="button"
                        [attr.aria-label]="'remove ' + item.label"
                        (click)="removeItem(item.value)"
                    >
                        <lc-icon [icon]="actionIcons.cancel" />
                    </button>
                </li>
            }
        </ul>
    </div>
}

@if (multiple === true || control.value.length !== 1) {
    <form>
        <lc-multiselect
            [options]="options"
            [formControl]="control"
            [showSelected]="false"
            [placeholderEmpty]="placeholder"
        />
    </form>
}
