<ng-container *ngIf="data() as data">
    <lc-paginator [pageResult]="pageResult" />
    <ul class="list-group mt-2" *ngIf="pageResult.pageData$ | async as pageData">
        <li *ngFor="let source of pageData.sources"
            class="list-group-item list-group-item-action text-reset">
            <div class="d-flex align-items-center">
                <a [routerLink]="[source.id]" class="mb-1 fs-5 font-serif fw-medium stretched-link">
                    {{ source.name }}
                </a>
                <small class="text-body-secondary ms-2">
                    ({source.numOfEpisodes, plural, =0 {No episodes} =1 {1 episode} other {{{ source.numOfEpisodes}}
                    episodes}})
                </small>
            </div>
            <p class="mb-1">
                <ng-container *ngIf="source.medievalTitle">
                    <em>{{ source.medievalTitle }}</em>.
                </ng-container>
            </p>
        </li>
    </ul>
    <lc-paginator [pageResult]="pageResult" />
</ng-container>
