<div class="container-md">
    <div class="row">
        <div class="col-md">
            <p class="h6 text-accent">Lettercraft & Epistolary Performance in Medieval Europe</p>

            <p>Version: {{environment.version}}</p>

            <p>
                <a href="https://github.com/CentreForDigitalHumanities/lettercraft" class="link-light"
                >Source code</a> (BSD 3-Clause License)
            </p>
        </div>
        <div class="col-md-auto">
            <div class="logo-container">
                <a class="image"
                    href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/">
                    <img src="{{environment.assets}}/uu-cdh.svg"
                        alt="Centre for Digital Humanities, Utrecht University"
                        class="img-fluid" />
                </a>
            </div>
        </div>
    </div>
</div>
