<form [formGroup]="form" aria-label="identification">
    <div class="mb-4">
        <label class="form-label" for="input-name">
            Name
        </label>
        <p>
            <small class="text-body-secondary">
                This is a name to identify the agent in the overview of the source.
                For example: {{ nameExamples }}.
            </small>
        </p>
        <input id="input-name" type="text" class="form-control"
            [formControl]="form.controls.name"
            [class.is-invalid]="form.controls.name.invalid"
            aria-required="true"
            [attr.aria-invalid]="form.controls.name.invalid">
        <div class="invalid-feedback">
            This field is required
        </div>
    </div>

    <div class="mb-4">
        <label class="form-label" for="input-description">
            Description
        </label>
        <p>
            <small class="text-body-secondary">
                Add a description to help identify this agent.
            </small>
        </p>
        <input id="input-description" type="text" class="form-control"
            [formControl]="form.controls.description">
    </div>

    <div class="mb-4">
        <label class="form-label" for="input-isgroup">
            Is this agent a person or a group?
        </label>
        <select
            id="input-isgroup"
            class="form-select"
            [class.is-invalid]="form.hasError('numberOfHistoricalPersons')"
            [formControl]="form.controls.isGroup"
        >
            <option [ngValue]="false">Person</option>
            <option [ngValue]="true">Group</option>
        </select>
        <p class="invalid-feedback">A single-person agent cannot be linked to more than one historical person.</p>
    </div>
</form>

