<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry/source', 1]">Fortunatus, Life of Radegund</a></li>
        <li class="breadcrumb-item active">
            Letter from Radegund
        </li>
    </ol>
</nav>

<h1 class="mb-4">
    Letter from Radegund
    <small class="text-body-secondary">(<i>Fortunatus, Life of Radegund</i>)</small>
</h1>

<p class="lead">
    A letter from Radegund describing her vision
</p>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Identification</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-3">
                        <label class="form-label">
                            Name
                        </label>
                        <input type="text" class="form-control" value="Letter from Radegund">

                        <p>
                            <small class="text-body-secondary">
                                This is a name to identify the object in the overview of the source.
                                For example: "letter from Radegund to Germanus", "Radegund's first letter", "a ring".
                            </small>
                        </p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Description
                        </label>
                        <input type="text" class="form-control" value="A letter from Radegund describing her vision">

                        <p>
                            <small class="text-body-secondary">
                                Add a description to help identify this object
                            </small>
                        </p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            Is this object a letter or a gift?
                        </label>
                        <select class="form-select">
                            <option selected>Letter</option>
                            <option>Gift</option>
                        </select>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Description in source text</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-5">
                        <h3>Designators</h3>
                        <label class="form-label">
                            Expressions (in Latin) that refer to this entity
                        </label>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" value="Littera ab Radegundi prodita">
                            <button class="btn btn-outline-secondary" disabled>
                                <fa-icon [icon]="icons.remove"></fa-icon>
                            </button>
                        </div>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Add a new designator">
                        </div>
                    </div>

                    <div class="mb-5">
                        <h3>Category</h3>
                        <div class="mb-4">
                            <label for="" class="form-label">Select all categories that apply</label>
                            <div class="d-flex flex-wrap" style="gap: .5em;">
                                <span *ngFor="let category of categories" role="button" class="badge" [class]="category.selected ? 'text-bg-primary' : 'text-bg-secondary'" (click)="selectCategory(category)">{{category.label}}</span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
