<ul class="navbar-nav">
    <li class="navbar-text" *ngIf="authLoading$ | async">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading user data...</span>
        </div>
    </li>
    <ng-container *ngIf="user$ | async as user">
        <li class="nav-item" ngbDropdown>
            <button class="nav-link" ngbDropdownToggle id="userDropdown">
                <i [class]="icons.user"></i>
                &nbsp;
                {{user.username}}
            </button>
            <div ngbDropdownMenu aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-end">
                <a ngbDropdownItem [routerLink]="['/user-settings']">Settings</a>
                <a *ngIf="user.isStaff" ngbDropdownItem href="/admin/">Administration</a>
                <button ngbDropdownItem (click)="logout()">
                    Sign out
                </button>
            </div>
        </li>
    </ng-container>
    <ng-container *ngIf="showSignIn$ | async">
        <li class="nav-item">
            <a
                #linkActive="routerLinkActive"
                [routerLink]="['/login']"
                routerLinkActive="active"
                [queryParams]="linkActive.isActive ? null : { next: currentPath$ | async }"
                class="nav-link"
            >
                Sign in
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">
                Register
            </a>
        </li>
    </ng-container>
    <ng-container *ngIf="logoutLoading$ | async">
        <li class="d-flex align-items-center">
            <div class="spinner-border spinner-border-sm text-light" role="status">
                <span class="visually-hidden">Signing out...</span>
            </div>
        </li>
    </ng-container>
</ul>

