@if (data$ | async; as data) {
    <lc-breadcrumb [breadcrumbs]="makeBreadcrumbs(data)" />

    @if (data.spaceDescription; as location) {
        @if (location.editable) {
            <a class="float-end btn btn-light"
                [routerLink]="['/data-entry/locations', location.id]">
                <lc-icon [icon]="actionIcons.edit" />
                Edit this location
            </a>
        }

        <lc-object-page-header [object]="location" [icon]="locationIcon(location)" />

        <lc-contributors [contributors]="location.contributors" />

        <section class="mt-5">
            <h2>Source text</h2>

            <div class="my-4">
                <lc-browse-list-item [listItem]="transformSource(location.source)" />
            </div>
        </section>

        <section class="mt-5">
            <h2>Epistolary episodes</h2>

            @if (location.episodes.length) {
                <p>This location appears in {{location.episodes.length}} epistolary episodes:</p>

                <div class="my-4">
                    @for (link of location.episodes; track link.id) {
                        <lc-browse-list-item [listItem]="transformEpisode(link.episode)" />
                    }
                </div>
            } @else {
                This location does not appear in any epistolary episodes.
            }
        </section>

        <section class="mb-5">
            <h2>Historical context</h2>

            <p>This location is identified in the text through the following references.</p>

            <dl>
                <dt>Regions</dt>
                <dd class="ms-4">
                    @if (location.regionFields.length) {
                        <ul class="inline-list">
                            @for (region of location.regionFields; track region.id) {
                                <li class="inline-list-item">
                                    {{region.region.name}}
                                </li>
                            }
                        </ul>
                    } @else {
                        <i>None</i>
                    }
                </dd>

                <dt>Settlements</dt>
                <dd class="ms-4">
                    @if (location.settlementFields.length) {
                        <ul class="inline-list">
                            @for (settlement of location.settlementFields; track settlement.id) {
                                <li class="inline-list-item">
                                    {{settlement.settlement.name}}
                                </li>
                            }
                        </ul>
                    } @else {
                        <i>None</i>
                    }
                </dd>

                <dt>Structures</dt>
                <dd class="ms-4">
                    @if (location.structureFields.length) {
                        <ul class="inline-list">
                            @for (structure of location.structureFields; track structure.id) {
                                <li class="inline-list-item">
                                    {{structure.structure.name}}
                                </li>
                            }
                        </ul>
                    } @else {
                        <i>None</i>
                    }
                </dd>
            </dl>
        </section>
    } @else {
        <lc-not-found entity="location" [id]="id$ | async" />
    }
} @else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
