<ng-container *ngIf="data$ | async as data">
    <a class="float-end btn btn-light" *ngIf="data.spaceDescription?.editable"
        [routerLink]="['/data-entry/locations', data.spaceDescription?.id]">
        <lc-icon [icon]="actionIcons.edit" />
        Edit this location
    </a>

    <lc-breadcrumb [breadcrumbs]="makeBreadcrumbs(data)" />

    <ng-container *ngIf="data.spaceDescription as location">

        <h1 class="mb-4">
            <lc-icon [icon]="locationIcon(data.spaceDescription)" />
            {{location.name}}
            <span class="text-secondary">
                ({{location.source.name}})
            </span>
        </h1>
        <p class="lead">
            {{location.description}}
        </p>

        <p *ngIf="location.contributors.length">
            <b>Contributors:</b>
            <ng-container *ngFor="let user of location.contributors; last as isLast">
                {{user.fullName}}<ng-container *ngIf="!isLast">, </ng-container>
            </ng-container>
        </p>

        <h2 class="mt-4">Source text</h2>

        <p>
            {{location.name}} is a location in
            <a [routerLink]="['/data/sources', location.source.id]" class="icon-link">
                <lc-icon [icon]="dataIcons.source" />
                {{ location.source.name }}
            </a>. It features in the following episodes:
        </p>

        <ul class="list-group">
            <li *ngFor="let link of location.episodes" class="list-group-item">
                <a [routerLink]="['data/episodes', link.episode.id]" class="icon-link">
                    <lc-icon [icon]="dataIcons.episode" />
                    {{link.episode.name}}
                </a>
            </li>
        </ul>

        <h2 class="mt-4">Historical context</h2>

        <p>This location is identified in the text through the following references.</p>

        <dl>
            <dt>Regions</dt>
            <dd class="ms-4">
                <ul class="inline-list" *ngIf="location.regionFields.length; else noItems">
                    <li *ngFor="let region of location.regionFields" class="inline-list-item">
                        {{region.region.name}}
                    </li>
                </ul>
            </dd>

            <dt>Settlements</dt>
            <dd class="ms-4">
                <ul class="inline-list" *ngIf="location.settlementFields.length; else noItems">
                    <li *ngFor="let settlement of location.settlementFields" class="inline-list-item">
                        {{settlement.settlement.name}}
                    </li>
                </ul>
            </dd>

            <dt>Structures</dt>
            <dd class="ms-4">
                <ul class="inline-list" *ngIf="location.structureFields.length; else noItems">
                    <li *ngFor="let structure of location.structureFields" class="inline-list-item">
                        {{structure.structure.name}}
                    </li>
                </ul>
            </dd>

            <ng-template #noItems>None</ng-template>
        </dl>
    </ng-container>
</ng-container>
