<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <lc-icon [icon]="dataIcons.episode" />
                &nbsp;
                {{ episode.name }}
                <br />
                <small *ngIf="episode.book || episode.chapter || episode.page" class="inline-list">
                    <span *ngIf="episode.book" class="inline-list-item">book {{ episode.book }}</span>
                    <span *ngIf="episode.chapter" class="inline-list-item">chapter {{ episode.chapter }}</span>
                    <span *ngIf="episode.page" class="inline-list-item">page {{ episode.page }}</span>
                </small>
            </div>
            <div class="button-group-wrapper">
                <lc-order-button-group
                    entityName="episode"
                    [upDisabled]="isFirst"
                    [downDisabled]="isLast"
                    (changeOrder)="changeEpisodeOrder.emit($event)"
                />
                <lc-action-button-group
                    [editLink]="['/', 'data-entry', 'episodes', episode.id]"
                    (deleteAction)="onClickDelete(episode.id)"
                    [showButtonText]="false"
                />
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>
            <span *ngIf="episode.summary; else noSummary">{{episode.summary}}</span>
            <ng-template #noSummary><i>(No summary added.)</i></ng-template>
        </p>

        <ul class="inline-list no-delimiter">
            <li *ngFor="let category of episode.categories"
                class="inline-list-item">
                <span class="badge rounded-pill text-bg-secondary">
                    {{category.name}}
                </span>
            </li>
        </ul>
        <dl>
            <dt>Agents</dt>
            <dd *ngIf="episode.agents.length > 0; else noAgents" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.agents"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/', 'data-entry', 'agents', link.agent.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="agentIcon(link.agent)" />
                            {{ link.agent.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noAgents>
                <dd class="ms-4">No agents have been added.</dd>
            </ng-template>

            <dt>Locations</dt>
            <dd *ngIf="episode.spaces.length > 0; else noSpaces" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.spaces"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/', 'data-entry', 'locations', link.space.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="locationIcon(link.space)" />
                            {{ link.space.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noSpaces>
                <dd class="ms-4">No locations have been added.</dd>
            </ng-template>

            <dt>Objects</dt>
            <dd
                *ngIf="
                    episode.gifts.length > 0 || episode.letters.length > 0;
                    else noObjects
                "
                class="ms-4"
            >
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.gifts"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/', 'data-entry', 'gifts', link.gift.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.gift" />
                            {{ link.gift.name }}
                        </a>
                    </li>
                    <li
                        *ngFor="let link of episode.letters"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data-entry', 'letters', link.letter.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.letter" />
                            {{ link.letter.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noObjects>
                <dd class="ms-4">No objects have been added.</dd>
            </ng-template>
        </dl>
        <div class="d-flex justify-content-end">
            <lc-contributors [contributors]="episode.contributors" />
        </div>
    </div>
</div>
