<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry/source', 1]">Fortunatus, Life of Radegund</a></li>
        <li class="breadcrumb-item active">St. Radegund</li>
    </ol>
</nav>

<h1 class="mb-4">
    St. Radegund
    <small class="text-body-secondary">(<i>Fortunatus, Life of Radegund</i>)</small>
</h1>

<p class="lead">Founder of the abbey of Poitiers</p>

<form>
    <h2>Basics</h2>

    <div class="mb-3">
        <label class="form-label">
            Name
        </label>
        <input type="text" class="form-control" value="St. Radegund">

        <p>
            <small class="text-body-secondary">
                This is a name to identify the agent in the overview of the source.
                For example: "Radegund", "messenger from Poitiers", "the citizens of Arles".
            </small>
        </p>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Description
        </label>
        <input type="text" class="form-control" value="Founder of the Abbey in Poitiers">

        <p>
            <small class="text-body-secondary">
                Add a description to help identify this agent.
            </small>
        </p>
    </div>

    <div class="mb-4">
        <label class="form-label">
            Is this agent a person or a group?
        </label>
        <select class="form-select">
            <option selected>Person</option>
            <option>Group</option>
        </select>
    </div>

    <h2>Description in the source</h2>

    <div class="mb-5">
        <h3>Name</h3>

        <label class="form-label">
            Name(s)
        </label>

        <div class="input-group mb-4">
            <input type="text" class="form-control" value="St. Radegund">
            <button class="btn btn-outline-secondary">
                <fa-icon [icon]="icons.remove"></fa-icon>
            </button>
        </div>

        <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Add a new name">
        </div>

        <div class="mb-4">
            <label class="form-label">
                Additional notes
            </label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>

    <div class="mb-5">
        <h3>Gender</h3>
        <div class="mb-4">
            <label class="form-label">
                How does the text present the gender of this agent?
            </label>
            <select class="form-select">
                <option selected>Female</option>
                <option>Male</option>
                <option>Other</option>
                <option>Unknown</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="form-label">
                How is this information presented in the text?
            </label>

            <select class="form-select">
                <option>Implied</option>
                <option selected>Mentioned</option>
                <option>Described</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="form-label">
                Additional notes
            </label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>

    <div class="mb-5">
        <h3>Social status</h3>

        <div class="mb-4">
            <label class="form-label">
                What is the social status of this agent?
            </label>
            <input class="form-control">
        </div>
        <div class="mb-4">
            <label class="form-label">
                How is this information presented in the text?
            </label>

            <select class="form-select">
                <option>Implied</option>
                <option selected>Mentioned</option>
                <option>Described</option>
            </select>
        </div>
        <div class="mb-4">
            <label class="form-label">
                Additional notes
            </label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
</form>
