<form>
    <p class="form-text">
        Describe the location of this episode in the source text.
    </p>
    <div class="row">
        <div class="form-group col">
            <label class="form-label" for="book">Book</label>
            <input
                id="book"
                type="text"
                class="form-control"
                [formControl]="form.controls.book"
            />
        </div>
        <div class="form-group col">
            <label class="form-label" for="chapter">Chapter</label>
            <input
                id="chapter"
                type="text"
                class="form-control"
                [formControl]="form.controls.chapter"
            />
        </div>
        <div class="form-group col">
            <label class="form-label" for="page">Page</label>
            <input
                id="page"
                type="text"
                class="form-control"
                [formControl]="form.controls.page"
            />
        </div>
    </div>
</form>
