<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry/source', 2]">Walafrid Strabo, Vita Galli</a></li>
        <li class="breadcrumb-item active">
            {{episode.title}}
        </li>
    </ol>
</nav>

<h1 class="mb-4">
    {{episode.title}}
    <span class="text-body-secondary">(<i>Walafrid Strabo, Vita Galli</i>)</span>
</h1>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Identification</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-3">
                        <label class="form-label">
                            Name
                        </label>
                        <input type="text" class="form-control"
                            [value]="episode.title">

                        <p class="form-text">
                            This is a name to identify the event in the overview of the source.
                            For example: "journey to Rome", "Clovis' response", "Radegund asks Germanus for help".
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Source text</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-5">
                        <h3>Designators</h3>
                        <label class="form-label">
                            Expressions (in Latin) that refer to this event
                        </label>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" value="Transmisit">
                            <button class="btn btn-outline-secondary" disabled>
                                <fa-icon [icon]="icons.remove"></fa-icon>
                            </button>
                        </div>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Add a new designator">
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3 class="mb-3">Location</h3>

                        <p>Describe the location of this passage in the source text.</p>

                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">
                                    Book
                                </label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-label">
                                    Chapter
                                </label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-label">
                                    Page
                                </label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem >
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Contents</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <p>What happens in the passage?</p>

                    <div class="mb-5">
                        <h3>Summary</h3>
                        <div class="mb-4">
                            <label class="form-label">Summary</label>
                            <textarea class="form-control"></textarea>
                            <p class="form-text">
                                Describe the events in this passage.
                            </p>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3>Labels</h3>
                        <div class="mb-4">
                            <label class="form-label">
                                Assign any labels that apply to these events.
                            </label>

                            <ul class="list-group mb-3">
                                <li class="list-group-item hstack">
                                    <span>
                                        delivering
                                    </span>
                                    <div class="ms-auto btn-group">
                                        <button class="btn btn-primary" disabled>
                                            <fa-icon [icon]="icons.edit"></fa-icon>
                                        </button>
                                        <button class="btn btn-danger" disabled>
                                            <fa-icon [icon]="icons.remove"></fa-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>

                            <div ngbDropdown>
                                <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                    Add a label
                                </button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem *ngFor="let label of labels">
                                        {{label}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Agents</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <p class="mb-4">Which agents are involved?</p>
                        <div class="mb-4">
                            <div class="card mb-3"
                                *ngFor="let agent of episode.agents; let first = first">
                                <div class="card-header">
                                    <div class="hstack">
                                        <span>
                                            {{agent.name}}
                                        </span>
                                        <div class="ms-auto btn-group">
                                            <button class="btn btn-secondary">
                                                <fa-icon [icon]="first ? icons.collapse : icons.expand"></fa-icon>
                                            </button>
                                            <a class="btn btn-primary"
                                                [routerLink]="['../..', 'agent', agent.id]">
                                                <fa-icon [icon]="icons.edit"></fa-icon>
                                            </a>
                                            <button class="btn btn-danger" disabled>
                                                <fa-icon [icon]="icons.remove"></fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" *ngIf="first">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            How is this agent presented in the text?
                                        </label>
                                        <select class="form-select">
                                            <option>Implied</option>
                                            <option selected>Mentioned</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Additional notes
                                        </label>
                                        <textarea class="form-control" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="hstack gap-2">
                                <div ngbDropdown>
                                    <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                        Add an agent
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem
                                            *ngFor="let agent of otherAgents">
                                            {{agent.name}}
                                        </button>
                                        <button ngbDropdownItem>
                                            <fa-icon [icon]="icons.add"></fa-icon>
                                            Add a new agent
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Locations</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Objects</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>

