<nav class="navbar navbar-expand-lg bg-dark" aria-label="main navigation"
    data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            Lettercraft & Epistolary Performance in Medieval Europe
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarLink"
            [attr.aria-expanded]="burgerActive" aria-label="Toggle navigation"
            (click)="toggleBurger()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarLinks" class="navbar-collapse" [ngbCollapse]="!burgerActive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/data']" routerLinkActive="active" class="nav-link">
                        Browse
                    </a>
                </li>
                <li *ngIf="isContributor$ | async" class="nav-item">
                    <a [routerLink]="['/data-entry']" routerLinkActive="active" class="nav-link">
                        Data entry
                    </a>
                </li>
            </ul>
            <lc-user-menu></lc-user-menu>
        </div>
    </div>
</nav>
