.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .navbar-brand {
        display: flex;
        align-items: center;
    }
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem rgba(184, 144, 0, 0.25);
}
