<form>
    <div class="mb-4">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name"
            [ngbTypeahead]="searchPoliticalRegion"
            [(ngModel)]="nameInput">
    </div>

    <ng-container *ngIf="name$ | async as name">
            <ng-template #loadingSpinner>
                <div class="spinner-border">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </ng-template>

            <div *ngIf="!(isLoading$ | async); else loadingSpinner">
                <div class="mb-4 card">
                    <div class="card-body">
                        <i [class]="icons.info"></i>
                        <ng-container *ngIf="exists(name); else notifyNew">
                            You're linking this description to the existing region
                            <i>{{name}}</i>.
                            This region is described in <b>3</b> other sources.
                            If you edit the description below, it will be updated for
                            all sources.
                        </ng-container>
                        <ng-template #notifyNew>
                            You're creating a new region named <i>{{name}}</i>.
                        </ng-template>
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" rows="3">{{description(name)}}</textarea>
                </div>
                <button class="btn btn-success" disabled>
                    <i [class]="icons.confirm"></i>
                    Save
                </button>
            </div>
    </ng-container>
</form>
