<lc-breadcrumb [breadcrumbs]="(breadcrumbs$ | async) ?? []" />

<ng-container *ngIf="letter$ | async as letter; else loading">
    <h1 class="mb-4">
        <lc-icon [icon]="dataIcons.letter" />
        <span class="ms-2">{{ letter.name }}</span>
        <span class="text-secondary">
            ({{ letter.source.name }})
        </span>
    </h1>

    <p class="lead mb-4" *ngIf="letter.description">
        {{ letter.description }}
    </p>
</ng-container>

<h2 class="subform-header">Identification</h2>
<lc-letter-identification-form />

<h2 class="subform-header">Source text</h2>
<lc-letter-source-text-form />

<h2 class="subform-header">Categories</h2>
<lc-letter-categories-form />

<h2>Episodes</h2>
<lc-letter-episodes-form />

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
