<ng-container *ngIf="data$ | async as data">
    <ng-container *ngIf="data.episode">
        <p>The following agents are involved in this episode:</p>
        <ul class="list-unstyled vstack gap-4">
            <li *ngFor="let agent of data.episode.agents">
                <lc-episode-link-form entityType="agent" linkTo="entity"
                        [entityID]="agent.id"
                        [episodeID]="data.episode.id">
                    <button removeControl class="btn btn-danger" aria-label="remove episode"
                        (click)="removeAgent$.next(agent.id)">
                        <lc-icon [icon]="actionIcons.remove" />
                    </button>
                </lc-episode-link-form>
            </li>
        </ul>
    </ng-container>
</ng-container>

<div class="mt-4 mb-4">
    <div ngbDropdown>
        <button type="button" class="btn btn-primary" id="add-agent-dropdown-trigger"
            ngbDropdownToggle>
            Add agent
        </button>
        <div ngbDropdownMenu aria-labelledby="add-agent-dropdown-trigger">
            <button *ngFor="let agent of (availableAgents$ | async)"
                ngbDropdownItem (click)="addAgent$.next(agent.id)">
                {{agent.name}}
            </button>
            <button ngbDropdownItem disabled>
                <lc-icon [icon]="actionIcons.create" />
                Create new agent
            </button>
        </div>
    </div>
</div>
