<ng-container *ngIf="data$ | async as data">
    <a class="float-end btn btn-light" *ngIf="data.episode?.editable"
        [routerLink]="['/data-entry/episodes', data.episode?.id]">
        <lc-icon [icon]="actionIcons.edit" />
        Edit this episode
    </a>

    <lc-breadcrumb [breadcrumbs]="makeBreadcrumbs(data)" />

    <ng-container *ngIf="data.episode as episode">
        <h1>
            <lc-icon [icon]="dataIcons.episode" />
            {{ episode.name }}
            <span class="text-secondary">
                ({{episode.source.name}})
            </span>
        </h1>

        <p>
            "{{ episode.name }}" is an epistolary episode in
            <a [routerLink]="['/data/sources', episode.source.id]" class="icon-link">
                <lc-icon [icon]="dataIcons.source" />
                {{episode.source.name}}</a>.
        </p>

        <p *ngIf="episode.contributors.length">
            <b>Contributors:</b>
            <ng-container *ngFor="let user of episode.contributors; last as isLast">
                {{user.fullName}}<ng-container *ngIf="!isLast">, </ng-container>
            </ng-container>
        </p>

        <h2 class="mt-5">Content</h2>

        <dl>
            <dt>Summary</dt>
            <dd style="white-space: pre-line;" class="ms-4">{{ episode.summary }}</dd>

            <dt>Designators</dt>
            <dd class="ms-4">
                <ul class="inline-list" *ngIf="episode.designators.length; else noDesignators">
                    <li *ngFor="let designator of episode.designators" class="inline-list-item">
                        {{designator}}
                    </li>
                </ul>
                <ng-template #noDesignators>None.</ng-template>
            </dd>

            <dt>Labels</dt>
            <dd class="ms-4">
                <ul class="inline-list mt-1">
                    <li *ngFor="let category of episode.categories" class="inline-list-item">
                        <span class="badge rounded-pill text-bg-primary fs-6 fw-normal">
                            {{category.name}}
                        </span>
                    </li>
                </ul>
            </dd>
        </dl>

        <h2 class="mt-5">Agents</h2>

        <p>
            This episode involves the following agents:
        </p>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let agent of episode.agents">
                <a [routerLink]="['/data/agents', agent.id]" class="icon-link">
                    <lc-icon [icon]="agentIcon(agent)" />
                    {{agent.name}}
                </a>
            </li>
        </ul>

        <h2 class="mt-5">Objects</h2>

        <p>This episode involves the following epistolary objects:</p>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let letter of episode.letters">
                <a [routerLink]="['/data/letters', letter.id]" class="icon-link">
                    <lc-icon [icon]="dataIcons.letter" />
                    {{letter.name}}
                </a>
            </li>
            <li class="list-group-item" *ngFor="let gift of episode.gifts">
                <a [routerLink]="['/data/gifts', gift.id]" class="icon-link">
                    <lc-icon [icon]="dataIcons.gift" />
                    {{gift.name}}
                </a>
            </li>
        </ul>

        <h2 class="mt-5">Locations</h2>

        <p>
            This episode involves the following locations:
        </p>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let location of episode.spaces">
                <a [routerLink]="['/data/locations', location.id]" class="icon-link">
                    <lc-icon [icon]="locationIcon(location)" />
                    {{location.name}}
                </a>
            </li>
        </ul>
    </ng-container>
</ng-container>
