<ng-container *ngIf="data$ | async as data">
    <p>This agent is involved in the following episodes:</p>
    <ul class="list-unstyled vstack gap-4">
        <li *ngFor="let item of data.agentDescription?.episodes">
            <lc-episode-link-form [id]="item.id" entityType="agent">
                <button removeControl class="btn btn-danger" aria-label="remove episode"
                    (click)="removeEpisode$.next(item.id)">
                    <lc-icon [icon]="actionIcons.remove" />
                </button>
            </lc-episode-link-form>
        </li>
    </ul>
</ng-container>

<div ngbDropdown class="mb-4">
    <button type="button" class="btn btn-primary" id="episode-dropdown-trigger"
        ngbDropdownToggle>
        Add episode
    </button>
    <div ngbDropdownMenu aria-labelledby="episode-dropdown-trigger">
        <button *ngFor="let episode of (availableEpisodes$ | async)"
            ngbDropdownItem (click)="addEpisode$.next(episode.id)">
            {{episode.name}}
        </button>
        <button ngbDropdownItem disabled>
            <lc-icon [icon]="actionIcons.create" />
            Create new episode
        </button>
    </div>
</div>
