<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <strong class="navbar-item" i18n>
                Lettercraft & Epistolary Performance in Medieval Europe
            </strong>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample" (click)="toggleBurger()"
                [ngClass]="{'is-active': burgerActive}">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': burgerActive}" [@slideInOut]="burgerShow">
            <div class="navbar-start">
                <a [routerLink]="['/home']" routerLinkActive="is-active" class="navbar-item" i18n>
                    Home
                </a>
            </div>
        </div>
    </div>
</nav>
