<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item active">Walafrid Strabo, Vita Galli</li>
    </ol>
</nav>

<h1 class="mb-4">Walafrid Strabo, Vita Galli</h1>

<p>
    Identify <i>episodes</i> in the narrative that relate to epistolary communication.
    For each episode, fill in what happens and what agents, objects, and locations are involved.
</p>

<h2 class="mb-4">Episodes</h2>

<div class="list-group mb-4 ">
    <div class="list-group-item pt-3"
        *ngFor="let episode of episodes"
        [routerLink]="['source/', 1]">

        <div class="btn-group float-end">
            <a class="btn btn-primary"
                [routerLink]="['event', '1']">
                <fa-icon [icon]="icons.edit"></fa-icon>
                Edit
            </a>
            <button class="btn btn-danger" disabled>
                <fa-icon [icon]="icons.delete"></fa-icon>
                Delete
            </button>
        </div>

        <h5 class="mb-1">
            <fa-icon [icon]="icons.action"></fa-icon>
            &nbsp;
            {{episode.title}}
        </h5>
        <p>{{episode.summary || '...'}}</p>

    </div>
</div>
<div class="btn-group mb-4">
    <button class="btn btn-primary" disabled>
        <fa-icon [icon]="icons.create"></fa-icon>
        Add a new episode
    </button>
</div>
