<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item active">Walafrid Strabo, Vita Galli</li>
    </ol>
</nav>

<h1 class="mb-4">
    <i [class]="icons.source"></i>
    Walafrid Strabo, Vita Galli
</h1>


<h2 class="mb-4">Episodes</h2>

<p>
    Identify <i>episodes</i> in the narrative that relate to epistolary communication.
    For each episode, fill in what happens and what agents, objects, and locations are involved.
</p>

<div class="mb-4">
    <div class="card mb-4"
        *ngFor="let episode of episodes">
        <div class="card-header">
            <div class="hstack">
                <div>
                    <i [class]="icons.episode"></i>
                    &nbsp;
                    {{episode.title}}
                    <br>
                    <small>book 1, chapter 1</small>
                </div>
                <div class="ms-auto btn-group">
                    <a class="btn btn-primary"
                        [routerLink]="['episode', episode.order]">
                        <i [class]="icons.edit"></i>
                </a>
                    <button class="btn btn-danger" disabled>
                        <i [class]="icons.delete"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>{{episode.summary || '...'}}</p>

            <dl>
                <ng-container *ngIf="episode.agents.length">
                    <dt>Agents</dt>
                    <dd class="ms-4">
                        <span *ngFor="let agent of episode.agents; let last = last">
                            <a [routerLink]="['agent/', agent.id]" class="icon-link">
                                <i [class]="agentIcon(agent)"></i>
                                {{agent.name}}
                            </a><span *ngIf="!last">, &nbsp;</span>
                        </span>
                    </dd>
                </ng-container>

                <ng-container *ngIf="episode.locations.length">
                    <dt>Locations</dt>
                    <dd class="ms-4">
                        <span *ngFor="let location of episode.locations; let last = last">
                            <a [routerLink]="['location/', location.id]"  class="icon-link">
                                <i [class]="icons.location"></i>
                                {{location.name}}
                            </a><span *ngIf="!last">, &nbsp;</span>
                        </span>
                    </dd>
                </ng-container>

                <ng-container *ngIf="episode.objects.length">
                    <dt>Objects</dt>
                    <dd class="ms-4">
                        <span *ngFor="let object of episode.objects; let last = last">
                            <a [routerLink]="['object/', object.id]" class="icon-link">
                                <i [class]="icons.letter"></i>
                                {{object.name}}
                            </a><span *ngIf="!last">, &nbsp;</span>
                        </span>
                    </dd>
                </ng-container>
            </dl>
        </div>
    </div>
</div>
<div class="btn-group mb-4">
    <button class="btn btn-primary" disabled>
        <i [class]="icons.create"></i>
        Add a new episode
    </button>
</div>
