<fieldset class="my-3">
    <legend>Profile picture</legend>
    <ng-container *ngIf="pictureUrl$ | async as url; else noPicture">
        <img [src]="url" alt="profile picture">
    </ng-container>
    <ng-template #noPicture>
        No profile picture set.
    </ng-template>

    <div >
        <label for="input-picture-upload" class="form-label">
            Upload a picture
        </label>
        <input type="file" id="input-picture-upload" class="form-control"
            (input)="onPictureInput($event)" accept="image/png, image/jpeg">
    </div>
    <div *ngIf="pictureUrl$ | async">
        <button type="button" [attr.aria-pressed]="clearPicture$ | async"
            class="btn"
            [class.btn-light]="(clearPicture$ | async) === false"
            [class.btn-danger]="clearPicture$ | async"
            (click)="clearPicture$.next(!clearPicture$.value)">
            Remove picture
        </button>
    </div>
</fieldset>

