<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Lettercraft</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/data-entry']">Data entry</a></li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/data-entry/source', 2]" class="icon-link">
                Walafrid Strabo, Vita Galli
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{location.name}}
        </li>
    </ol>
</nav>

<h1 class="mb-4">
    <i [class]="icons.location"></i>
    {{location.name}}
    <small class="text-body-secondary">(<i>Walafrid Strabo, Vita Galli</i>)</small>
</h1>

<p class="lead">
    {{location.description}}
</p>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Identification</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-3">
                        <label class="form-label" for="name-input">
                            Name
                        </label>
                        <input type="text" class="form-control" id="name-input"
                            [value]="location.name">

                        <p>
                            <small class="text-body-secondary">
                                This is a name to identify the location in the overview of the source.
                                For example: "Poitiers", "The scriptorium", "unknown crossroads".
                            </small>
                        </p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description-input">
                            Description
                        </label>
                        <input type="text" class="form-control" id="description-input"
                            [value]="location.description">

                        <p>
                            <small class="text-body-secondary">
                                Add a description to help identify this location.
                            </small>
                        </p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Description in source text</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <div class="mb-5">
                        <h3>Designators</h3>
                        <p class="form-label">
                            Expressions (in Latin) that refer to this entity
                        </p>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" value="example name">
                            <button class="btn btn-outline-secondary" disabled>
                                <i [class]="icons.remove"></i>
                            </button>
                        </div>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Add a new designator">
                        </div>
                    </div>

                    <div class="mb-5">
                        <h3>Regions</h3>

                        <p>
                            A surrounding region for the location.
                            These can be political domains (e.g. kingdoms, duchies),
                            ecclesial domains (e.g. dioceses), or geographical regions
                            (mountain ranges, islands, etc.).
                        </p>

                        <p>
                            Focus on what the text provides as evidence. For instance,
                            if the text describes something happens "in Poitiers", you can
                            add Poitiers as a settlement below; you do not need to add the
                            surrounding geography, kingdom, or diocese if the text does
                            not mention these.
                        </p>

                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="hstack">
                                    <span>
                                        Burgundy
                                    </span>
                                    <div class="ms-auto btn-group">
                                        <button class="btn btn-secondary" disabled>
                                            <i [class]="icons.collapse"></i>
                                        </button>
                                        <button class="btn btn-primary" disabled>
                                            <i [class]="icons.edit"></i>
                                        </button>
                                        <button class="btn btn-danger" disabled>
                                            <i [class]="icons.remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label"
                                        for="region-presented-input">
                                        How is this information presented in the episode?
                                    </label>
                                    <select class="form-select"
                                        id="region-presented-input">
                                        <option>Implied</option>
                                        <option selected>Mentioned</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label"
                                        for="region-notes-input">
                                        Additional notes
                                    </label>
                                    <textarea class="form-control" rows="2"
                                        id="region-notes-input">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" (click)="open(newRegion)">
                            <i [class]="icons.add"></i>
                            Add a region
                        </button>
                    </div>

                    <div class="mb-5">
                        <h3>Settlements</h3>

                        <p>Towns or villages.</p>

                        <button class="btn btn-primary" disabled>
                            <i [class]="icons.add"></i>
                            Add a settlement
                        </button>
                    </div>

                    <div class="mb-5">
                        <h3>Structures</h3>

                        <p>Buildings, fortifications, rooms, etc.</p>

                        <button class="btn btn-primary" disabled>
                            <i [class]="icons.add"></i>
                            Add a structure
                        </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Episodes</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <p class="mb-4">In which episodes is this location involved?</p>
                        <div class="mb-4">
                            <div class="card mb-3"
                                *ngFor="let episode of episodes; let first = first">
                                <div class="card-header">
                                    <div class="hstack">
                                        <span>
                                            <i [class]="icons.episode"></i>
                                            &nbsp;
                                            {{episode.title}}
                                        </span>
                                        <div class="ms-auto btn-group">
                                            <button class="btn btn-secondary">
                                                <i [class]="first ? icons.collapse : icons.expand"></i>
                                            </button>
                                            <a class="btn btn-primary"
                                                [routerLink]="['../..', 'episode', episode.order]">
                                                <i [class]="icons.edit"></i>
                                            </a>
                                            <button class="btn btn-danger" disabled>
                                                <i [class]="icons.remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" *ngIf="first">
                                    <div class="mb-3">
                                        <label class="form-label"
                                            for="episode-{{episode.id}}-presented-input">
                                            How is this location presented in the episode?
                                        </label>
                                        <select class="form-select"
                                            id="episode-{{episode.id}}-presented-input">
                                            <option>Implied</option>
                                            <option selected>Mentioned</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label"
                                            for="episode-{{episode.id}}-notes-input">
                                            Additional notes
                                        </label>
                                        <textarea class="form-control" rows="2"
                                            id="episode-{{episode.id}}-notes-input">
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="hstack gap-2">
                                <div ngbDropdown>
                                    <button type="button" class="btn btn-primary" ngbDropdownToggle>
                                        Add an episode
                                    </button>
                                    <div ngbDropdownMenu>
                                        <button ngbDropdownItem
                                            *ngFor="let episode of otherEpisodes">
                                            {{episode.title}}
                                        </button>
                                        <button ngbDropdownItem>
                                            <i [class]="icons.add"></i>
                                            Add a new episode
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<ng-template #newRegion let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Add region</h4>
        <button type="button" class="btn-close" (click)="offcanvas.dismiss()"></button>
    </div>
    <div class="offcanvas-body">
        <lc-political-region></lc-political-region>
    </div>
</ng-template>
