<div class="card" *ngIf="data$ | async as data">
    <div class="card-header"
        [class.border-bottom-0]="collapsed">
        <div class="hstack gap-2">
            <span>
                {{ linkedObject(linkTo, data)?.name }}
            </span>
            <button class="btn btn-secondary ms-auto"
                [attr.aria-label]="(collapsed ? 'show' : 'hide') + ' additional questions'"
                (click)="collapsed = !collapsed">
                <lc-icon [icon]="collapsed ? actionIcons.expand : actionIcons.collapse" />
            </button>
            <a class="btn btn-primary" aria-label="edit episode"
                [routerLink]="[
                    '/data-entry',
                    formUrl(linkTo, entityType),
                    linkedObject(linkTo, data)?.id
                ]">
                <lc-icon [icon]="actionIcons.edit" />
            </a>
            <button class="btn btn-danger" aria-label="remove episode"
                (click)="delete.emit()">
                <lc-icon [icon]="actionIcons.remove" />
            </button>
        </div>
    </div>
    <form class="card-body" [formGroup]="form" [ngbCollapse]="collapsed">
        <div class="mb-3">
            <label [htmlFor]="sourceMentionInput" class="form-label">
                How is this agent's involvement in the episode represented?
            </label>
            <select #sourceMentionInput class="form-select"
                [formControl]="form.controls.sourceMention">
                <option *ngFor="let option of sourceMentionOptions"
                    [ngValue]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label [htmlFor]="notesInput" class="form-label">Notes</label>
            <textarea #notesInput class="form-control"
                [formControl]="form.controls.note">
            </textarea>
        </div>
    </form>
</div>
