<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<h1>Browse data</h1>

<p>
    Where do you want to start?
</p>

<div class="vstack gap-3">
    <div class="card">
        <div class="card-body">
            <h2 class="h4">
                <a class="card-link stretched-link" [routerLink]="['sources']">Source texts</a>
            </h2>
            <p>
                Browse the medieval texts that have been analysed in the Lettercraft
                project.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="h4">
                <a class="card-link stretched-link" [routerLink]="['episodes']">Epistolary episodes</a>
            </h2>
            <p>
                Search through the epistolary episodes found across all source texts.
            </p>
        </div>
    </div>
</div>
