<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<h1>Browse data</h1>

<p>
    You can browse the data in the project per source, or view all epistolary episodes.
</p>

<ul ngbNav #nav="ngbNav" [activeId]="'episodes'" class="nav-tabs mt-4 mb-4">
    <li ngbNavItem="sources">
        <button ngbNavLink>Sources</button>
        <ng-template ngbNavContent>
            <lc-source-list />
        </ng-template>
    </li>
    <li ngbNavItem="episodes">
        <button ngbNavLink>Episodes</button>
        <ng-template ngbNavContent>
            <lc-episode-list />
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav"></div>
