<div *ngIf="visibleOptions() as options" ngbDropdown>
    <button
        class="btn btn-primary"
        id="labels-menu"
        type="button"
        ngbDropdownToggle
    >
        {{ placeholderEmpty }}
    </button>
    <div aria-labelledby="labels-menu" ngbDropdownMenu>
        <ng-container *ngIf="options.length > 0; else noOptions">
            <button
                *ngFor="
                    let option of options;
                    let i = index;
                    trackBy: trackById
                "
                (click)="selectOption(option)"
                [disabled]="selectedOptions().includes(option.value)"
                class="d-inline-flex align-items-center"
                ngbDropdownItem
            >
                <fa-icon *ngIf="option.icon" [icon]="option.icon" class="me-2" aria-hidden="true" />
                <span>{{ option.dropdownLabel ?? option.label }}</span>
            </button>
        </ng-container>
        <ng-template #noOptions>
            <button ngbDropdownItem disabled>
                {{ noAvailableOptions }}
            </button>
        </ng-template>
    </div>
</div>
