<ng-container *ngIf="data$ | async as data">
    <lc-breadcrumb [breadcrumbs]="getBreadcrumbs(data)"></lc-breadcrumb>

    <ng-container *ngIf="data.spaceDescription as spaceDescription">
        <h1 class="mb-4">
            <lc-icon [icon]="locationIcon(spaceDescription)" />
            {{spaceDescription.name}}
            <span class="text-secondary">
                ({{spaceDescription.source.name}})
            </span>
        </h1>

        <p class="lead mb-4" *ngIf="spaceDescription.description">
            {{spaceDescription.description}}
        </p>

    </ng-container>
</ng-container>


<h2 class="subform-header">Identification</h2>
<p><i>Coming soon!</i></p>

<h2 class="subform-header">Episodes</h2>
<lc-location-episodes-form />
