@if (data$ | async; as data) {
    <lc-breadcrumb [breadcrumbs]="getBreadcrumbs(data)" />

    @if (data.spaceDescription; as location) {
        @if (location.source.isPublic) {
            <a class="float-end btn btn-light"
            [routerLink]="['/data/locations', location.id]">
                <lc-icon [icon]="actionIcons.view" />
                View on public interface
            </a>
        }
        <h1 class="mb-4">
            <lc-icon [icon]="dataIcons.location" />
            {{ location.name }}
            <span class="text-primary"> ({{ location.source.name }}) </span>
        </h1>

        <p class="lead mb-4">
            @if (location.description) {
                {{ location.description }}
            } @else {
                <i>(No description)</i>
            }
        </p>

        <lc-form-status [status$]="status$" />

        <lc-delete-entity-button
            (clickDelete)="onClickDelete(location)"
            [deletingInProgress]="deletingInProgress"
            entityName="location"
        />
        <h2 class="subform-header">Identification</h2>
        <lc-location-identification-form />

        <h2 class="subform-header">Source text</h2>
        <lc-location-source-text-form />

        <h2 class="subform-header">Regions</h2>
        <lc-location-regions-form />

        <h2 class="subform-header">Settlements</h2>
        <lc-location-settlements-form />

        <h2 class="subform-header">Structures</h2>
        <lc-location-structures-form />

        <h2 class="subform-header">Episodes</h2>
        <lc-location-episodes-form />
    } @else {
        <lc-not-found entity="location" [id]="id$ | async" />
    }
} @else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
