@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// Variables
$lc_jonquil: #ffce1f;
$lc_royal_blue: #003d66;
$lc_parchment: #f1e9d2;
$lc_floral_white: #faf8ef;
$lc_ink: #2c2416;
$lc_burgundy: #722f37;

$lc-colors: (
    "accent": $lc_jonquil,
    "primary": $lc_royal_blue,
    "parchment": $lc_parchment,
    "floral-white": $lc_floral_white,
    "ink": $lc_ink,
    "burgundy": $lc_burgundy,
);

$theme-colors: map-merge($theme-colors, $lc-colors);

// The order of these imports matters!
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$royal_blue_lighter: #1071b1;

// Override Bootstrap defaults
$link-color: $royal_blue_lighter;

$headings-font-family: serif;
$headings-font-weight: 500;
$display-font-family: $headings-font-family;
$display-font-weight: $headings-font-weight;

// Layout

$navbar-light-active-color: $lc_jonquil;
$navbar-dark-active-color: $lc_jonquil;
$pagination-active-bg: $royal_blue_lighter;
$pagination-active-border-color: $royal_blue_lighter;
