// Variables
$lc_jonquil: #ffce1f;
$lc_royal_blue: #003d66;
$lc_parchment: #f1e9d2;
$lc_floral_white: #faf8ef;
$lc_ink: #2c2416;
$lc_burgundy: #722f37;

// Override Bootstrap defaults
$primary: $lc_royal_blue;
$secondary: $lc_jonquil;
$link-color: $lc_burgundy;
$light: $lc_floral_white;

$body-bg: $lc_floral_white;
$body-color: $lc_ink;

// Typography
@font-face {
    font-family: "Cinzel";
    src: url(assets/fonts/cinzel/Cinzel-Variable.ttf) format("truetype");
    font-weight: 400 500 600 700 800 900;
}

@font-face {
    font-family: "Crimson Text";
    src: url(assets/fonts/crimson-text/CrimsonText-Regular.ttf)
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Crimson Text";
    src: url(assets/fonts/crimson-text/CrimsonText-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Crimson Text";
    src: url(assets/fonts/crimson-text/CrimsonText-Italic.ttf)
        format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Crimson Text";
    src: url(assets/fonts/crimson-text/CrimsonText-BoldItalic.ttf)
        format("truetype");
    font-weight: 700;
    font-style: italic;
}

$font-family-base: "Crimson Text";
$font-size-base: 1.2rem;
$font-weight-normal: 500;
$headings-font-family: "Cinzel", serif;
$headings-font-weight: 500;
$display-font-family: $headings-font-family;
$display-font-weight: $headings-font-weight;

// Layout
$card-border-color: $lc_burgundy;
$card-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
$card-bg: $lc_parchment;

$navbar-light-active-color: $lc_jonquil;
$navbar-dark-active-color: $lc_jonquil;

// Special classes
.text-burgundy {
    color: $lc_burgundy;
}

.illuminated-initial {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: $lc_burgundy;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.border-gold {
    border: 2px solid $lc_joinquil;
}

.border-y-gold {
    border-top: 2px solid $lc_joinquil;
    border-bottom: 2px solid $lc_joinquil;
}

.border-top-gold {
    border-top: 2px solid $lc_joinquil;
}

.border-bottom-gold {
    border-bottom: 2px solid $lc_joinquil;
}

// Navigation
.nav-link {
    transition: all 0.3s ease;

    &:hover {
        text-shadow: 0 0 5px $lc_jonquil;
    }
}
