@import "variables";
@import "bootstrap";
@import "bootstrap-icons";

@media print {
    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }
}

.always-block {
    display: block !important;
}

// Adds a comma + non-breaking space (\00A0) after each non-final item in an .inline-list.
.inline-list {
    padding-left: 0;

    .inline-list-item {
        display: inline;
    }

    & > .inline-list-item:not(:last-child)::after {
        content: ",\00A0";
    }
}

.inline-list.no-delimiter {
    & > .inline-list-item:not(:last-child)::after {
        content: "\00A0";
    }
}

.subform-header {
    margin-top: 1.5rem;
}

.source-description blockquote {
    @extend .blockquote;
    padding-left: 2rem;
    padding-right: 2rem;
}

figure {
    padding: 3rem;

    img {
        width: 100%;
        height: auto;
    }
}

.lh-medium {
    line-height: 1.75;
}

.font-serif {
    font-family: serif;
}

.extra-header-spacing {
    h1,h2,h3,h4,h5,h6 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}
