@import 'variables';
@import 'bootstrap';

@media print {

    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }
}

.offcanvas {
    --bs-offcanvas-width: 600px;
}

.card {
    :last-child.card-header {
        border-bottom: none;
    }
}
