$uu_yellow: #FFCD00;
$uu_red: #C00A35;

$lc_jonquil: #ffce1f;
$lc_royal_blue: #003d66;
$lc_royal_blue_lighter: #1071b1;
$lc_parchment: #eeeae4;
$lc_ink: #2c2416;
$lc_burgundy: #722f37;
$lc_burnt_orange: #9f3e00;
