<p *ngIf="control.value.length > 0">Currently selected:</p>
<ul class="ps-0">
    <li
        *ngFor="let subSpace of selectedSubspaces()"
        class="badge rounded-pill text-bg-primary me-2 fs-6 fw-normal d-inline-flex align-items-center"
    >
        <fa-icon *ngIf="subSpace.icon" [icon]="subSpace.icon" aria-hidden="true" />
        <span class="mx-2">{{ subSpace.label }}</span>
        <button
            class="btn btn-sm btn-primary p-1"
            type="button"
            [attr.aria-label]="'remove ' + subSpace.label"
            (click)="removeSubspace(subSpace.value)"
        >
            <lc-icon [icon]="actionIcons.cancel" />
        </button>
    </li>
</ul>

<form>
    <lc-multiselect
        id="subspace-select"
        [options]="options"
        [formControl]="control"
        [showSelected]="false"
        placeholderEmpty="Select a {{ subspaceType }}"
    />
</form>
