<form>
    <div class="mb-4">
        <label class="form-label">
            Name
        </label>
        <input type="text" class="form-control" value="Poitiers">
    </div>
    <div class="mb-4">
        <label class="form-label">
            What kind of structure is this?
        </label>
        <select class="form-select">
            <option selected>Settlement, population centre</option>
            <option>Road, town square, or crossroad</option>
            <option>Compound building (e.g. a castle or monastery)</option>
            <option>Building or vessel</option>
            <option>Room</option>
            <option>Object (e.g. a desk)</option>
        </select>
    </div>
</form>
