<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<h1 class="mb-4">Output</h1>

<p>
    This page lists research output made through the Lettercraft project.
</p>

<section class="my-5">
    <h2 class="fs-4  my-3">Journal articles</h2>

    <p>Robert Flierman &amp; Hope Williard, &#8216;Letters, gifts and messengers. The epistolary strategies of
        St Radegund&#8217;, <em>Early Medieval Europe</em> 33:3 (2025), 1-32. <a href="https://doi.org/10.1111/emed.12776">https://doi.org/10.1111/emed.12776</a>
    </p>

    <p>Robert Flierman, &#8216;<a href="https://www.degruyter.com/document/doi/10.1515/fmst-2024-0004/html" target="_blank">The
            Silent Succession of Riculf of Mainz (d. 813). An Episcopal Career Re-Considered</a>&#8216;,
        <em>Frühmittelalterliche Studien</em> 58 (2024), 115–154. <a href="https://doi.org/10.1515/fmst-2024-0004">https://doi.org/10.1515/fmst-2024-0004</a>
    </p>

    <p>Robert Flierman, ‘<a href="https://www.tandfonline.com/doi/full/10.1080/03044181.2021.1893800" target="_blank">Gregory of
            Tours And the Merovingian letter</a>’, <em>Journal of Medieval History</em> 47:2 (2021), 119-144.
        <a href="https://doi.org/10.1080/03044181.2021.1893800">https://doi.org/10.1080/03044181.2021.1893800</a>
    </p>
</section>

<section class="my-5">
    <h2 class="fs-4  my-3">Book chapters</h2>

    <p>Hope Williard, &#8216;<a href="https://edipuglia.it/catalogo/scale-and-the-studyof-late-antiquity-pdf/"target="_blank">Letter
            Carriers and
            the Scale of Communication in the Epistolae of Sidonius Apollinaris</a>&#8216;, In K. Sessa, &amp;
        K. Uhalde (Eds.), <em>Scale and the Study of Late Antiquity: Collected Essays from the 14th Meeting of
            Shifting Frontiers (</em>Edipuglia, 2023), 153–167.
    </p>
</section>

<section class="my-5">
    <h2 class="fs-4 my-3">Other publications</h2>

    <p>Robert Flierman &amp; Isa van der Steen, &#8216;<a
            href="https://www.aup-online.com/content/journals/10.5117/MADOC2023.3-4.001.FLIE" target="_blank">Dragers van de
            briefkunst. In het voetspoor van een vergeten bode</a>&#8216;, <em>Madoc. Tijdschrift voor de
            Middeleeuwen</em> 3-4 (2024), 125-135. <a href="https://doi.org/10.5117/MADOC2023.3-4.001.FLIE">https://doi.org/10.5117/MADOC2023.3-4.001.FLIE</a>
    </p>
    <p>Robert Flierman, ‘Column: Postbode’, <em>Tijdschrift voor de Middeleeuwen</em> 34:2 (2020), 91-94.</p>
</section>

<section class="my-5">
    <h2 class="fs-4  my-3">Presentations</h2>

    <p>Hope Williard, <em>Gregory of Tours’s Book of the Miracles of the Blessed Andrew the Apostle (A
        Roundtable)</em>, 9 May 2024. Invited Panelist. 59th International Congress on Medieval
        Studies, Western Michigan University, Kalamazoo.</p>
    <p>Hope Williard. <em>Dictation in Early Medieval Letter Writing</em>, 10 May 2024. Given at the 59th
        International Congress on Medieval Studies, Western Michigan University, Kalamazoo.</p>
    <p>Robert Flierman &amp; Hope Williard. <em>Lettercraft in Early Medieval Europe. The Epistolary Strategies
            of St Radegund (d. 587)</em>. 15 April 2024. Invited lecture given at Radboud University Nijmegen.
        Ancient and Medieval Lecture Series.</p>
    <p>Robert Flierman, <em>A Letter from the Border. Franco-Saxon Relations under Charlemagne and Louis the
            Pious. </em>21 March 2024. Invited paper given at the Conference <em>Nodes and Networks of Power at
            the Frontiers of the Carolingian Empire A Political, Cultural, Military and Religious Overview
            (21-22 March 2024)</em>, hosted by the University of Tübingen, Centre for Advanced Studies –
        Migration and Mobility in the Late Antiquity and the Early Middle Ages.</p>
    <p>Robert Flierman, <em>The Lettercrafters. Diversity and Flexibility in Merovingian Epistolary
            Communication</em>. 8 February 2024. Invited paper given at the Yearly Seminar hosted by Utrecht
        University Centre for Medieval Studies (UUCMS).</p>
    <p>Robert Flierman, <em>Lettercraft and Epistolary Performance in Merovingian Gaul</em>. 17 January 2024.
        Invited lecture given at Universität Münster, Historisches Seminar: Forschungskolloquium: 400-1500.</p>
</section>

