.glossary-item {
    margin-left: -1rem;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--bs-secondary-bg);
    }

    &:focus,&.active {
        background-color: var(--bs-secondary-bg);
        border: 1px solid var(--bs-border-color);
    }
}

.index-container {
    height: 100vh;

    .index-body {
        height: 100%;;
        overflow-y: scroll;
    }
}
