<h1>Confirm e-mail address</h1>

<div *ngIf="userDetails$ | async as userDetails" class="mb-3">
    <p>
        Please confirm that
        <a href="mailto:{{ userDetails.email }}">{{ userDetails.email }}</a>
        is an e-mail address for user {{ userDetails.username }}.
    </p>

    <button class="btn btn-primary" (click)="confirm()">
        Confirm
        <div
            *ngIf="loading$ | async"
            class="spinner-border spinner-border-sm"
            role="status"
        >
            <span class="visually-hidden">Verifying email...</span>
        </div>
    </button>
</div>
