<div class="card mb-4">
    <div class="card-header position-relative">
        <a
            class="icon-link stretched-link mb-1"
            [routerLink]="['/data/episodes', episode.id]"
        >
            <lc-icon [icon]="dataIcons.episode" />
            {{ episode.name }}
        </a>
    </div>
    <div class="card-body">
        <p class="block">
            <span *ngIf="episode.summary; else noSummary">
                {{ episode.summary }}
            </span>
            <ng-template #noSummary>
                <i>No summary.</i>
            </ng-template>
        </p>

        @if (episode.categories.length) {
        <ul class="block inline-list no-delimiter">
            @for (category of episode.categories; track category.id) {
            <li class="inline-list-item">
                <span class="badge rounded-pill text-bg-secondary">
                    {{ category.name }}
                </span>
            </li>
            }
        </ul>
        }
        <dl class="block">
            <dt>Agents</dt>
            @if (episode.agents.length > 0) {
            <dd class="ms-4">
                <ul class="inline-list">
                    @for (link of episode.agents; track link.agent.id) {
                    <li class="inline-list-item">
                        <a
                            [routerLink]="['/data', 'agents', link.agent.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="agentIcon(link.agent)" />
                            {{ link.agent.name }}
                        </a>
                    </li>
                    }
                </ul>
            </dd>
            } @else {
            <dd class="ms-4">None.</dd>
            }

            <dt>Locations</dt>
            @if (episode.spaces.length > 0) {
            <dd class="ms-4">
                <ul class="inline-list">
                    @for (link of episode.spaces; track link.space.id) {
                    <li class="inline-list-item">
                        <a
                            [routerLink]="['/data', 'locations', link.space.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="locationIcon(link.space)" />
                            {{ link.space.name }}
                        </a>
                    </li>
                    }
                </ul>
            </dd>
            } @else {
            <dd class="ms-4">None.</dd>
            }

            <dt>Objects</dt>
            @if (episode.gifts.length > 0 || episode.letters.length > 0) {
            <dd class="ms-4">
                <ul class="inline-list">
                    @for (link of episode.gifts; track link.gift.id) {
                    <li class="inline-list-item">
                        <a
                            [routerLink]="['/data', 'gifts', link.gift.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.gift" />
                            {{ link.gift.name }}
                        </a>
                    </li>
                    }
                    @for (link of episode.letters; track link.letter.id) {
                    <li class="inline-list-item">
                        <a
                            [routerLink]="['/data', 'letters', link.letter.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.letter" />
                            {{ link.letter.name }}
                        </a>
                    </li>
                    }
                </ul>
            </dd>
            } @else {
            <dd class="ms-4">None.</dd>
            }
        </dl>
    </div>
    @if (hasSourceLocation(episode)) {
    <div class="card-footer bg-body text-body-secondary position-relative">
        <small>
            <span class="inline-list">
                @if (episode.book) {
                <span class="inline-list-item"
                    >book {{ episode.book }}</span
                >
                }
                @if (episode.chapter) {
                <span class="inline-list-item"
                    >chapter {{ episode.chapter }}</span
                >
                }
                @if (episode.page) {
                <span class="inline-list-item"
                    >page {{ episode.page }}</span
                >
                }
            </span>
        </small>
    </div>
    }
</div>
