<div class="card mb-4">
    <div class="card-header position-relative">
        <a class="icon-link stretched-link mb-1 "
            [routerLink]="['/data/episodes', episode.id]">
            <lc-icon [icon]="dataIcons.episode" />
            {{episode.name}}
        </a>
    </div>
    <div class="card-body">
        <p *ngIf="episode.summary">{{episode.summary}}</p>

        <dl *ngIf="hasEntities(episode)">
            <dt>Agents</dt>
            <dd *ngIf="episode.agents.length > 0; else noAgents" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let agent of episode.agents"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'agents', agent.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="agentIcon(agent)" />
                            {{ agent.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noAgents>
                <dd class="ms-4">None.</dd>
            </ng-template>

            <dt>Locations</dt>
            <dd *ngIf="episode.spaces.length > 0; else noSpaces" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let space of episode.spaces"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'locations', space.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="locationIcon(space)" />
                            {{ space.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noSpaces>
                <dd class="ms-4">None.</dd>
            </ng-template>

            <dt>Objects</dt>
            <dd
                *ngIf="
                    episode.gifts.length > 0 || episode.letters.length > 0;
                    else noObjects
                "
                class="ms-4"
            >
                <ul class="inline-list">
                    <li
                        *ngFor="let gift of episode.gifts"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'gifts', gift.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.gift" />
                            {{ gift.name }}
                        </a>
                    </li>
                    <li
                        *ngFor="let letter of episode.letters"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'letters', letter.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.letter" />
                            {{ letter.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noObjects>
                <dd class="ms-4">None.</dd>
            </ng-template>
        </dl>
    </div>
    <div class="card-footer bg-body text-body-secondary position-relative">
        <a *ngIf="hasSource(episode)" [routerLink]="['/data/sources', episode.source.id]"
            class="text-reset icon-link stretched-link">
            <lc-icon [icon]="dataIcons.source"/>
            {{episode.source.name}}
        </a>
        <small *ngIf="episode.book || episode.chapter || episode.page">
            <span *ngIf="hasSource(episode)" class="ms-1">(</span>
            <span class="inline-list">
                <span *ngIf="episode.book" class="inline-list-item">book {{ episode.book }}</span>
                <span *ngIf="episode.chapter" class="inline-list-item">chapter {{ episode.chapter }}</span>
                <span *ngIf="episode.page" class="inline-list-item">page {{ episode.page }}</span>
            </span>
            <span *ngIf="hasSource(episode)">)</span>
        </small>

    </div>
</div>
