<div class="card mb-4">
    <div class="card-header position-relative">
        <a class="icon-link stretched-link mb-1 "
            [routerLink]="['/data/episodes', episode.id]">
            <lc-icon [icon]="dataIcons.episode" />
            {{episode.name}}
        </a>
    </div>
    <div class="card-body">
        <p class="block">
            <span *ngIf="episode.summary; else noSummary">
                {{episode.summary}}
            </span>
            <ng-template #noSummary>
                <i>No summary.</i>
            </ng-template>
        </p>

        <ul class="block inline-list no-delimiter" *ngIf="episode.categories.length">
            <li *ngFor="let category of episode.categories"
                class="inline-list-item">
                <span class="badge rounded-pill text-bg-secondary">
                    {{category.name}}
                </span>
            </li>
        </ul>

        <dl class="block" *ngIf="hasEntities(episode)">
            <dt>Agents</dt>
            <dd *ngIf="episode.agents.length > 0; else noAgents" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.agents"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'agents', link.agent.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="agentIcon(link.agent)" />
                            {{ link.agent.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noAgents>
                <dd class="ms-4">None.</dd>
            </ng-template>

            <dt>Locations</dt>
            <dd *ngIf="episode.spaces.length > 0; else noSpaces" class="ms-4">
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.spaces"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'locations', link.space.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="locationIcon(link.space)" />
                            {{ link.space.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noSpaces>
                <dd class="ms-4">None.</dd>
            </ng-template>

            <dt>Objects</dt>
            <dd
                *ngIf="
                    episode.gifts.length > 0 || episode.letters.length > 0;
                    else noObjects
                "
                class="ms-4"
            >
                <ul class="inline-list">
                    <li
                        *ngFor="let link of episode.gifts"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'gifts', link.gift.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.gift" />
                            {{ link.gift.name }}
                        </a>
                    </li>
                    <li
                        *ngFor="let link of episode.letters"
                        class="inline-list-item"
                    >
                        <a
                            [routerLink]="['/data', 'letters', link.letter.id]"
                            class="icon-link"
                        >
                            <lc-icon [icon]="dataIcons.letter" />
                            {{ link.letter.name }}
                        </a>
                    </li>
                </ul>
            </dd>
            <ng-template #noObjects>
                <dd class="ms-4">None.</dd>
            </ng-template>
        </dl>
    </div>
    <div class="card-footer bg-body text-body-secondary position-relative"
        *ngIf="hasSource(episode) || hasSourceLocation(episode)">
        <a *ngIf="hasSource(episode)" [routerLink]="['/data/sources', episode.source.id]"
            class="text-reset icon-link stretched-link">
            <lc-icon [icon]="dataIcons.source"/>
            {{episode.source.name}}
        </a>
        <small *ngIf="hasSourceLocation(episode)">
            <span *ngIf="hasSource(episode)" class="ms-1">(</span>
            <span class="inline-list">
                <span *ngIf="episode.book" class="inline-list-item">book {{ episode.book }}</span>
                <span *ngIf="episode.chapter" class="inline-list-item">chapter {{ episode.chapter }}</span>
                <span *ngIf="episode.page" class="inline-list-item">page {{ episode.page }}</span>
            </span>
            <span *ngIf="hasSource(episode)">)</span>
        </small>

    </div>
</div>
