<h1>Reset password</h1>

<p>Enter your new password below to change your password.</p>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label for="password1" class="form-label"> New password </label>
        <input
            type="password"
            id="password1"
            class="form-control"
            [class.is-invalid]="
                form.controls.new_password1.touched &&
                form.controls.new_password1.invalid
            "
            [formControl]="form.controls.new_password1"
        />
        <p
            *ngFor="let error of password1Errors$ | async"
            class="invalid-feedback"
        >
            {{ error }}
        </p>
    </div>
    <div>
        <label for="password2" class="form-label">
            Repeat your new password
        </label>
        <input
            type="password"
            id="password2"
            class="form-control"
            [class.is-invalid]="
                form.controls.new_password2.touched &&
                form.controls.new_password2.invalid
            "
            [formControl]="form.controls.new_password2"
        />
        <p
            *ngFor="let error of password2Errors$ | async"
            class="invalid-feedback"
        >
            {{ error }}
        </p>
    </div>
    <p
        *ngFor="let error of formErrors$ | async"
        class="invalid-feedback always-block"
    >
        {{ error }}
    </p>
    <button type="submit" class="btn btn-primary my-3">
        Submit
        <div
            *ngIf="loading$ | async"
            class="spinner-border spinner-border-sm"
            role="status"
        >
            <span class="visually-hidden">Updating password...</span>
        </div>
    </button>
</form>
