<lc-breadcrumb [breadcrumbs]="(breadcrumbs$ | async) ?? []" />

<ng-container *ngIf="gift$ | async as gift; else loading">
    <h1 class="mb-4">
        <lc-icon [icon]="dataIcons.gift" />
        <span class="ms-2">{{ gift.name }}</span>
        <span class="text-secondary">
            ({{ gift.source.name }})
        </span>
    </h1>

    <lc-entity-description-lead [entity]="gift" />
    <lc-delete-entity-button
        (clickDelete)="onClickDelete(gift)"
        [deletingInProgress]="deletingInProgress"
        entityName="gift"
    />
</ng-container>

<h2 class="subform-header">Identification</h2>
<lc-gift-identification-form />

<h2 class="subform-header">Source text</h2>
<lc-gift-source-text-form />

<h2 class="subform-header">Categories</h2>
<lc-gift-categories-form />

<ng-template #loading>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
