<h1>Data entry</h1>

<p>Select a source to begin</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action">
        <h5 class="mb-1">Fortunatus, Life of Radegund</h5>
        <p class="mb-1">Venantius Fortunatus,De vitae sanctae Radegundis, ed. by Bruno Krusch, MGH SRM, 2 (Hannover, 1888)</p>
    </a>
    <a class="list-group-item list-group-item-action">
        <h5 class="mb-1">...</h5>
        <p class="mb-1">...</p>
    </a>
    <a class="list-group-item list-group-item-action">
        <h5 class="mb-1">...</h5>
        <p class="mb-1">...</p>
    </a>
</div>
