<lc-breadcrumb [breadcrumbs]="breadcrumbs" />

<h1>Data entry</h1>

<p>Select a source to begin</p>

<ul class="list-group">
    <li *ngFor="let source of sources$ | async; trackBy: identify"
       class="list-group-item list-group-item-action">
        <div class="d-flex align-items-center">
            <a [routerLink]="[source.id]" class="mb-1 h5 stretched-link">{{ source.name }}</a>
            <small class="text-body-secondary ms-2">
                ({source.numOfEpisodes, plural, =0 {No episodes} =1 {1 episode} other {{{ source.numOfEpisodes}} episodes}})
            </small>
        </div>
        <p class="mb-1">
            <ng-container *ngIf="source.medievalAuthor || source.medievalTitle">
                {{ source.medievalAuthor }}<ng-container *ngIf="source.medievalAuthor && source.medievalTitle">, </ng-container><em>{{ source.medievalTitle }}</em>.
            </ng-container>
            <ng-container *ngIf="source.editionAuthor || source.editionTitle">
                (Ed. {{ source.editionAuthor }}<ng-container *ngIf="source.editionAuthor && source.editionTitle">, </ng-container><em>{{ source.editionTitle }}</em>.)
            </ng-container>
        </p>
    </li>
</ul>
