<div class="modal-header">
    <h4>Create new episode</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss(null)"
    ></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit($event)">
        <div class="form-group">
            <label class="form-label" for="episode-name">Name</label>
            <p class="form-text">
                This is a name to identify the episode in the overview of the
                source. For example: "journey to Rome", "Clovis' response",
                "Radegund asks Germanus for help".
            </p>
            <input
                id="episode-name"
                type="text"
                class="form-control"
                [formControl]="form.controls.name"
                [class.is-invalid]="
                    form.controls.name.invalid && form.controls.name.touched
                "
                ngbAutofocus
            />
            <p class="invalid-feedback">This field is required.</p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submit($event)">
        Create
    </button>
    <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.close()"
    >
        Cancel
    </button>
</div>
