<h2>Sign in</h2>

<p>Sign in using the form below.</p>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="username" class="form-label">
            Username
        </label>
        <input
            type="text"
            id="username"
            class="form-control"
            [class.is-invalid]="form.controls.username.touched && form.controls.username.invalid"
            [formControl]="form.controls.username">
        <p *ngFor="let error of usernameErrors$ | async" class="invalid-feedback">
            {{ error }}
        </p>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">
            Password
        </label>
        <input
            type="password"
            id="password"
            class="form-control"
            [formControl]="form.controls.password"
            [class.is-invalid]="form.controls.password.touched && form.controls.password.invalid">
        <p *ngFor="let error of passwordErrors$ | async" class="invalid-feedback">
            {{ error }}
        </p>
    </div>
    <p *ngFor="let error of formErrors$ | async" class="invalid-feedback always-block">
        {{ error }}
    </p>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mt-3">
            Sign in
            <div *ngIf="loading$ | async" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Logging in...</span>
            </div>
        </button>
    </div>
</form>

<div>
    <a [routerLink]="['/password-forgotten']">Forgotten your password? Click here.</a>
</div>
